<div class="col-sm-4">
  <img src="images/people.jpg" alt="" height="200px" width="100%">
</div>
<div class="col-sm-4">
  <h1>Welcome!</h1>
  <p> Please check out all the cool new courses by our innovative and creative chefs.</p>
  <p> If you want to see a new course, click <a href="/courses">the courses page</a> and explore!</p>
  <p> When you see a course you like you can <a href="/contact">contact us to join! </a> Soon you'll be cooking in your own home.</p>
</div>
<div class="col-sm-4">
  <div class="smit1">

    <div class="smit2">
      <h2><center>NEW: Culinary Vacations</center></h2>
    </div>
    <p>
      <br>
      Take a second to look over our very latest offerings: Combine your love of food and learning how to cook with a trip to other lands to meet and be educated by famous chefs from a range of cuisines right in their home countries using the freshest, local ingredients. 
      <br><br>Our cooking tours generally include:
<ul>
  <li>Accommodations</li>
  <li>Cooking lessons in English</li>
  <li>Excursions that explore the local culture and cuisine</li>
  <li>Extraordinary food and wine</li>
</ul> 
Cooking vacations generally last between 2 and 7 nights and can be confirmed for as few as two people. 
<br><br><b>Check out all our latest vacation packages and book soon. They are really selling like "hotcakes"! :-)</b>
    </p>
    <div class="smit2">
      <h4><center><a href="/vacations" style="color: white;">View Vacation Packages</a></center></h4>
    </div>
  </div>
</div>