<div class="data-form">
  <form class="form-signin" action="/vacations/create" method="POST">
      <h2 class="form-signin-heading">Create a new Culinary Vacation Package:</h2>

      <label for="inputTitle">Title</label>
      <input type="text" name="title" id="inputTitle" class="form-control" minlength="3" autofocus required placeholder="Enter vacation title" />

      <label for="inputDescription">Description</label>
      <input type="text" name="description" id="inputDescription" class="form-control" placeholder="Description of package" required />

      <label for="inputCuisine">Cuisine type</label>
      <select name="cuisine" id="inputCuisine" required class="form-control">
          <option value="" disabled selected>--Please choose an option--</option>
          <option value="Continental">Continental</option>
          <option value="Traditional">Traditional</option>
          <option value="Haute-cuisine">Haute-cuisine</option>
          <option value="Nouvelle-cuisine">Nouvelle-cuisine</option>
          <option value="Fusion">Fusion</option>
          <option value="Vegan">Vegan</option>
          <option value="Vegetarian">Vegetarian</option>
          <option value="Asian">Asian</option>
          <option value="Indian">Indian</option>
          <option value="Middle-Eastern">Middle-Eastern</option>
          <option value="African">African</option>
          <option value="Central American">Central American</option>
          <option value="South American">South American</option>
      </select>

      <label for="inputHeroImage">Vacation 'hero image' filename</label>
      <input type="text" name="heroImage" id="inputHeroImage" class="form-control" placeholder="Filename for vacation package hero image, e.g., Thai.jpg" />

      <label for="inputMaxTravelers">Max Travelers</label>
      <input type="number" name="maxTravelers" id="inputMaxTravelers" class="form-control" placeholder="Maximum * of travelers" min="0" max="25" required />

      <label for="inputCost">Cost ($)</label>
      <input type="number" name="cost" id="inputCost" class="form-control" placeholder="Per person cost" min="0" required />

      <label for="inputDestination">Destination</label>
      <input type="text" name="destination" id="inputDestination" class="form-control" placeholder="Enter vacation package destination: City, Country" required />

      <label for="inputDepatureLocation">Departure Location</label>
      <select name="departureLocation" id="inputDepartureLocation" class="form-control" required>
          <option value="" disabled selected>--Please choose an option--</option>
          <option value="New York (JFK)">New York (JFK)</option>
          <option value="Boston (BOS)">Boston (BOS)</option>
          <option value="Chicago (ORD)">Chicago (ORD)</option>
          <option value="Miami (MIA)">Miami (MIA)</option>
          <option value="St. Louis (STL)">St. Louis (STL)</option>
          <option value="Dallas (DFW)">Dallas (DFW)</option>
          <option value="Seattle (SEA)">Seattle (SEA)</option>
          <option value="San Francisco (SFO)">San Francisco (SFO)</option>
      </select>

      <label for="inputDepartureDate">Departure Date</label>
      <input type="date" name="departureDate" id="departureDate" class="form-control" placeholder="Leaving Date" required />

      <label for="inputReturnDate">Return Date</label>
      <input type="date" name="returnDate" id="returnDate" class="form-control" placeholder="Returning Date" required onblur="comparee()"/>

      <br />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
  </form>
</div>

<script>
    function comparee()
    {
        var startDtt = document.getElementById("departureDate").value;
        var endDtt = document.getElementById("returnDate").value;
  
        if( (new Date(startDtt).getTime() > new Date(endDtt).getTime()))
        {
          document.getElementById("demoo").innerHTML = alert('Return date should be after a Departure date.');
        }
    }
  </script>
